<!DOCTYPE html>
<html>
<head>
    <title>Adicionar novo ativo ao seu portfólio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 2% 10%;
        }
        .form-container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1 class="mb-4">Adicionar novo ativo ao portfólio</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
