<!DOCTYPE html>
<html>
<head>
    <title>Asset Prices</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="asset_name">Choose an asset:</label>
        <select name="asset_name" id="asset_name">
            {% for company in b3_companies %}
            <option value="{{ company }}">{{ company }}</option>
            {% endfor %}
        </select>
        <button type="submit">Show Prices</button>
    </form>

    {% if json_fig %}
        <h2>Asset Prices:</h2>
        <div id="plot1">{{ json_fig|safe }}</div>
    {% json_fig %}

    <script>
        // JavaScript code to render the Plotly chart
        var plot1 = document.getElementById('plot1');
        eval(plot1.innerHTML);
    </script>
</body>
</html>
