<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        function plotChart(jsonData) {
            var figureData = JSON.parse(jsonData).data;
            var figureLayout = JSON.parse(jsonData).layout;
            Plotly.newPlot('plot1', figureData, figureLayout);
        }
    </script>
</head>
<body>
    <h1>Home Page</h1>
    
    {% if assets %}
        <table>
            <thead>
                <tr>
                    <th>Asset Symbol</th>
                    <th>Purchase Date</th>
                    <th>Purchase Price</th>
                    <th>Current Price</th>
                    <th>Gain/Loss</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                    <tr>
                        <td>{{ asset.symbol }}</td>
                        <td>{{ asset.date }}</td>
                        <td>{{ asset.price }}</td>
                        <td>{{ asset.current_price }}</td>
                        <td>{{ asset.gain_loss }}</td>
                        <td>
                            <input type="checkbox" name="sold" value="{{ asset.id }}" {% if asset.sold %}checked{% endif %}>
                        </td>
                        <td>
                            <button onclick="updateStock('{{ asset.id }}')">Update</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.media }}
        <div>
            <label for="{{ form.company.id_for_label }}">{{ form.company.label }}</label>
            {{ form.company }}
        </div>
        <div>
            <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
            {{ form.start_date }}
        </div>
        <div>
            <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
            {{ form.end_date }}
        </div>
        <div>
            <label for="{{ form.granularity.id_for_label }}">{{ form.granularity.label }}</label>
            {{ form.granularity }}
        </div> 
        <div>
            <label for="{{ form.moving_average.id_for_label }}">{{ form.moving_average.label }}</label>
            {{ form.moving_average }}
        </div>    
        <button type="submit">Submit</button>
    </form>

    <div>
        <a href="{% url 'add_stock' %}" class="btn btn-primary">Adicionar Ativo ao Portifólio</a>
    </div>
    
    <div id="plot1"></div>
    
    {% if plot_image %}
        <script>
            console.log("Calling plotChart function");
            plotChart('{{ plot_image|escapejs }}');
        </script>
    {% endif %}
</body>
</html>
