<!DOCTYPE html>
<html>
<head>
    <title>Ativos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            padding: 2% 10%;
        }
        .content-block {
            margin-bottom: 20px;
        }
        .plot-container {
            width: 100%;
            height: 600px;
        }
    </style>
    <script>
        function plotChart(jsonData) {
            var figureData = JSON.parse(jsonData).data;
            var figureLayout = JSON.parse(jsonData).layout;
            Plotly.newPlot('plot1', figureData, figureLayout);
        }

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        function updateStock(id) {
            console.log(id);
            let isChecked = document.querySelector(`input[name="sold"][value="${id}"]`).checked;

            fetch(`/update_asset/${id}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({ sold: isChecked }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Update successful');
                } else {
                    alert('Update failed');
                }
            });
        }

        window.onload = function() {
            var buttons = document.querySelectorAll('.update-button');
            buttons.forEach(function(button) {
                button.addEventListener('click', function() {
                    updateStock(this.dataset.assetId);
                });
            });
        }
    </script>
</head>
<body>
    <h1 class="mb-4">Ativos</h1>

    {% if assets %}
    <div class="content-block">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Data de Compra</th>
                    <th>Preço de Compra</th>
                    <th>Preço Atual</th>
                    <th>Gain/Loss</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                    <tr>
                        <td>{{ asset.symbol }}</td>
                        <td>{{ asset.date }}</td>
                        <td>{{ asset.price }}</td>
                        <td>{{ asset.current_price }}</td>
                        <td>{{ asset.gain_loss }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <form method="post" class="content-block">
        {% csrf_token %}
        {{ form.media }}
        <div class="form-group">
            <label for="{{ form.company.id_for_label }}">{{ form.company.label }}</label>
            {{ form.company }}
        </div>
        <div class="form-group">
            <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
            {{ form.start_date }}
        </div>
        <div class="form-group">
            <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
            {{ form.end_date }}
        </div>
        <div class="form-group">
            <label for="{{ form.granularity.id_for_label }}">{{ form.granularity.label }}</label>
            {{ form.granularity }}
        </div> 
        <div class="form-group">
            <label for="{{ form.moving_average.id_for_label }}">{{ form.moving_average.label }}</label>
            {{ form.moving_average }}
        </div>    
        <button type="submit" class="btn btn-primary">Gerar Gráfico</button>
    </form>

    <div class="content-block">
        <a href="{% url 'add_stock' %}" class="btn btn-primary">Adicionar Ativo ao Portifólio</a>
    </div>

    <div class="content-block">
        <td><a href="{% url 'update_stock' %}" class="btn btn-primary">Atualizar Ativo no Portifólio</a></td>
    </div>

    <div class="content-block">
        <a href="{% url 'add_companie' %}" class="btn btn-primary">Adicionar/Atualizar Empresa</a>
    </div>

    <div id="plot1" class="plot-container"></div>

    {% if plot_image %}
        <script>
            console.log("Calling plotChart function");
            plotChart('{{ plot_image|escapejs }}');
        </script>
    {% endif %}
</body>
</html>
