{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Update Stock</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 2% 10%;
        }
        .form-container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1 class="mb-4">Atualizar Ativo no Portfólio</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_symbol">Symbol:</label>
                {{ form.symbol }}
            </div>
            <div class="form-group">
                <label for="id_date">Date:</label>
                {{ form.date }}  <!-- Render date field -->
            </div>
            <div class="form-group">
                <label for="id_sold_date">Sold Date:</label>
                {{ form.sold_date }}
            </div>
            <div class="form-group">
                <label for="id_sold_price">Sold Price:</label>
                {{ form.sold_price }}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

    <script>
    $(document).ready(function() {
        $('#id_symbol').change(function() {
            var symbol = $(this).val();
            if (symbol) {
                $.ajax({
                    url: "{% url 'get_dates' %}",
                    data: {
                        'symbol': symbol
                    },
                    success: function(data) {
                        console.log(data)
                        var select = $('#id_date');
                        select.empty();
                        $.each(data.dates_list, function(index, value) {
                            select.append('<option value="'+ value +'">'+ value +'</option>');
                        });
                    }
                });
            }
        });
    });
    </script>
</body>
</html>
